---
import BaseLayout from './BaseLayout.astro';
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} theme="data">
  <div class="font-jetbrains-mono">
    <slot />
  </div>
</BaseLayout>
