---
import BaseLayout from './BaseLayout.astro';
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} theme="mobile">
  <div class="font-sora">
    <slot />
  </div>
</BaseLayout>
